.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    background-color: white;
    
}



.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition-duration: 0.4s;
}
  
.checkoutProduct__info > button:hover {
    background-color: #f3c614b8; /* Green */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.checkoutProduct__image > img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}